/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-hello-gutenberg-block-employees-esnext {
  /* background: yellow; */
}

.hello-gutenberg-block-figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*left: 50%;*/
  /*margin-right: -50%;*/
}

.hello-gutenberg-block-align-left {
  text-align: left;
}

.hello-gutenberg-block-title {
  color: darkred;
  background: #ff0000;
  border: 2px solid #b70000;
  padding: 20px;
}

.hello-gutenberg-block-title {
  color: green;
  background: #59c45f;
  border: 2px solid #2e8132;
  padding: 20px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  /*font-family: Helvetica, sans-serif;*/
  /*font-weight: 300;*/
  /*font-size: 16px;*/
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.react-autosuggest__suggestions-list ul {
  list-style-type: none;
}

.editor-styles-wrapper .react-autosuggest__suggestions-list {
  list-style-type: none;
}
