/**
 * Note that these styles are loaded *before* editor styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

.wp-block-hello-gutenberg-block-employees-esnext {
  /* background: yellow; */
}

.hello-gutenberg-block-title {
  color: darkred;
  background: #ff0000;
  border: 2px solid #b70000;
  padding: 20px;
}

.hello-gutenberg-block-label {
  font-weight: normal;
}

.hello-gutenberg-block-figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*left: 50%;*/
  /*margin-right: -50%;*/
}
